# exclude the following dirs/files from archives:
.*                   export-ignore
backup               export-ignore
icone-generiche      export-ignore
images               export-ignore
scripts              export-ignore
templates            export-ignore
